In [1]:
from pyspark import SparkConf, SparkContext
conf = SparkConf().setMaster("local").setAppName("spark_sql_basic2")
sc   = SparkContext(conf=conf)

# RDDë§Œì„ ì´ìš©í•œ ë°ì´í„° ì¶”ì¶œ

In [2]:
movies_rdd = sc.parallelize([
    (1, ("ì–´ë²¤ì ¸ìŠ¤", "ë§ˆë¸”")),
    (2, ("ìŠˆí¼ë§¨", "DC")),
    (3, ("ë°°íŠ¸ë§¨", "DC")),
    (4, ("ê²¨ìš¸ì™•êµ­", "ë””ì¦ˆë‹ˆ")),
    (5, ("ì•„ì´ì–¸ë§¨", "ë§ˆë¸”"))
])


attendances_rdd = sc.parallelize([
    (1, (13934592, "KR")),
    (2, (2182227,"KR")),
    (3, (4226242, "KR")),
    (4, (10303058, "KR")),
    (5, (4300365, "KR"))
])

In [3]:
# ë§ˆë¸” ì˜í™” ì¤‘ ê´€ê° ìˆ˜ê°€ 500ë§Œ ì´ìƒì¸ ì˜í™”ë¥¼ ê°€ì ¸ì˜¤ê¸°

# CASE1. join ë¨¼ì €, filter ë‚˜ì¤‘ì—
movie_att = movies_rdd.join(attendances_rdd)
movie_att.take(5)

[(2, (('ìŠˆí¼ë§¨', 'DC'), (2182227, 'KR'))),
 (4, (('ê²¨ìš¸ì™•êµ­', 'ë””ì¦ˆë‹ˆ'), (10303058, 'KR'))),
 (1, (('ì–´ë²¤ì ¸ìŠ¤', 'ë§ˆë¸”'), (13934592, 'KR'))),
 (3, (('ë°°íŠ¸ë§¨', 'DC'), (4226242, 'KR'))),
 (5, (('ì•„ì´ì–¸ë§¨', 'ë§ˆë¸”'), (4300365, 'KR')))]

In [4]:
movie_att.filter(
    lambda x : x[1][0][1] == "ë§ˆë¸”" and x[1][1][0] > 5000000
).collect()

[(1, (('ì–´ë²¤ì ¸ìŠ¤', 'ë§ˆë¸”'), (13934592, 'KR')))]

In [5]:
# CASE 2. filter ë¨¼ì €, join ë‚˜ì¤‘ì—
filtered_movies = movies_rdd.filter(lambda x : x[1][1] == 'ë§ˆë¸”')
filtered_att = attendances_rdd.filter(lambda x : x[1][0] > 5000000)

filtered_movies.join(filtered_att).collect()

[(1, (('ì–´ë²¤ì ¸ìŠ¤', 'ë§ˆë¸”'), (13934592, 'KR')))]

choice CASE2 > ì´ˆë°˜ì— í•„í„°ë¥¼ í•˜ê³  joinì„ í•˜ëŠ”ê²Œ ë” íš¨ìœ¨ì ì„.

In [6]:
sc.stop()

# Spark SQL ì‚¬ìš©í•´ ë³´ê¸°

In [7]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local").appName("spark-sql").getOrCreate()

In [8]:
# ì»¬ëŸ¼ ì¶”ê°€
movies = [
    (1, "ì–´ë²¤ì ¸ìŠ¤", "ë§ˆë¸”", 2012, 4, 26),
    (2, "ìŠˆí¼ë§¨", "DC", 2013, 6, 13),
    (3, "ë°°íŠ¸ë§¨", "DC", 2008, 8, 6),
    (4, "ê²¨ìš¸ì™•êµ­", "ë””ì¦ˆë‹ˆ", 2014, 1, 16),
    (5, "ì•„ì´ì–¸ë§¨", "ë§ˆë¸”", 2008, 4, 30)
]

In [9]:
#ìŠ¤í‚¤ë§ˆë¥¼ ì•Œì•„ì•¼ í•œë‹¤.
movie_schema = ["id", "name", "company", "year", "month", "day"]

## ë°ì´í„° í”„ë ˆì„ ë§Œë“¤ê¸°

In [10]:
df = spark.createDataFrame(data=movies, schema=movie_schema)

In [11]:
df.dtypes

[('id', 'bigint'),
 ('name', 'string'),
 ('company', 'string'),
 ('year', 'bigint'),
 ('month', 'bigint'),
 ('day', 'bigint')]

In [12]:
df.select("name").show()

+--------+
|    name|
+--------+
|ì–´ë²¤ì ¸ìŠ¤|
|  ìŠˆí¼ë§¨|
|  ë°°íŠ¸ë§¨|
|ê²¨ìš¸ì™•êµ­|
|ì•„ì´ì–¸ë§¨|
+--------+

In [13]:
df.show()

+---+--------+-------+----+-----+---+
| id|    name|company|year|month|day|
+---+--------+-------+----+-----+---+
|  1|ì–´ë²¤ì ¸ìŠ¤|   ë§ˆë¸”|2012|    4| 26|
|  2|  ìŠˆí¼ë§¨|     DC|2013|    6| 13|
|  3|  ë°°íŠ¸ë§¨|     DC|2008|    8|  6|
|  4|ê²¨ìš¸ì™•êµ­| ë””ì¦ˆë‹ˆ|2014|    1| 16|
|  5|ì•„ì´ì–¸ë§¨|   ë§ˆë¸”|2008|    4| 30|
+---+--------+-------+----+-----+---+

In [14]:
df.filter(df.year >= 2010).show()

+---+--------+-------+----+-----+---+
| id|    name|company|year|month|day|
+---+--------+-------+----+-----+---+
|  1|ì–´ë²¤ì ¸ìŠ¤|   ë§ˆë¸”|2012|    4| 26|
|  2|  ìŠˆí¼ë§¨|     DC|2013|    6| 13|
|  4|ê²¨ìš¸ì™•êµ­| ë””ì¦ˆë‹ˆ|2014|    1| 16|
+---+--------+-------+----+-----+---+

In [15]:
df.select('year','month','day').show()

+----+-----+---+
|year|month|day|
+----+-----+---+
|2012|    4| 26|
|2013|    6| 13|
|2008|    8|  6|
|2014|    1| 16|
|2008|    4| 30|
+----+-----+---+

In [16]:
df.filter(df.year > 2008).show()

+---+--------+-------+----+-----+---+
| id|    name|company|year|month|day|
+---+--------+-------+----+-----+---+
|  1|ì–´ë²¤ì ¸ìŠ¤|   ë§ˆë¸”|2012|    4| 26|
|  2|  ìŠˆí¼ë§¨|     DC|2013|    6| 13|
|  4|ê²¨ìš¸ì™•êµ­| ë””ì¦ˆë‹ˆ|2014|    1| 16|
+---+--------+-------+----+-----+---+

In [17]:
df.filter(df.company == 'ë§ˆë¸”').show()

+---+--------+-------+----+-----+---+
| id|    name|company|year|month|day|
+---+--------+-------+----+-----+---+
|  1|ì–´ë²¤ì ¸ìŠ¤|   ë§ˆë¸”|2012|    4| 26|
|  5|ì•„ì´ì–¸ë§¨|   ë§ˆë¸”|2008|    4| 30|
+---+--------+-------+----+-----+---+

## ë·° ë§Œë“¤ê¸°

In [18]:
df.createOrReplaceTempView("movies")
# PySparkì—ì„œ DataFrameì„ SQL í…Œì´ë¸”ì²˜ëŸ¼ ì“°ê¸° ìœ„í•´

In [22]:
# ì˜í™” ì´ë¦„ë§Œ ê°€ì ¸ì˜¤ê¸°

query = """

SELECT name
  FROM movies

"""
spark.sql(query).show()

+--------+
|    name|
+--------+
|ì–´ë²¤ì ¸ìŠ¤|
|  ìŠˆí¼ë§¨|
|  ë°°íŠ¸ë§¨|
|ê²¨ìš¸ì™•êµ­|
|ì•„ì´ì–¸ë§¨|
+--------+

In [24]:
# 2010 ë…„ ì´í›„ì— ê°œë´‰í•œ ì˜í™” ì¡°íšŒ

query = '''
SELECT NAME,YEAR FROM MOVIES WHERE YEAR > 2010
'''

spark.sql(query).show()

+--------+----+
|    NAME|YEAR|
+--------+----+
|ì–´ë²¤ì ¸ìŠ¤|2012|
|  ìŠˆí¼ë§¨|2013|
|ê²¨ìš¸ì™•êµ­|2014|
+--------+----+

In [27]:
# like ë¬¸ìì—´ ë°ì´í„°ì—ì„œ íŠ¹ì • ë‹¨ì–´ë‚˜ ë¬¸ì¥ì„ í¬í•¨í•œ ë°ì´í„°ë¥¼ ì°¾ì„ ë•Œ
# % ê¸°í˜¸ë¥¼ ì‚¬ìš©í•´ì„œ ë¬¸ì¥ì´ ë§¤ì¹­ë˜ëŠ”ì§€ í™•ì¸ ê°€ëŠ¥!
# ì œëª©ì´ ~~ë§¨ìœ¼ë¡œ ëë‚˜ëŠ” ë°ì´í„°ì˜ ëª¨ë“  ì •ë³´ë¥¼ ì¡°íšŒ

query = '''
SELECT * FROM MOVIES WHERE NAME LIKE"%ë§¨"
'''

spark.sql(query).show()

+---+--------+-------+----+-----+---+
| id|    name|company|year|month|day|
+---+--------+-------+----+-----+---+
|  2|  ìŠˆí¼ë§¨|     DC|2013|    6| 13|
|  3|  ë°°íŠ¸ë§¨|     DC|2008|    8|  6|
|  5|ì•„ì´ì–¸ë§¨|   ë§ˆë¸”|2008|    4| 30|
+---+--------+-------+----+-----+---+

In [28]:
# BETWEEN íŠ¹ì • ë°ì´í„°ì™€ ë°ì´í„° ì‚¬ì´ë¥¼ ì¡°íšŒ

# ê°œë´‰ ì›”ì´ 4 ~ 8ì›” ì‚¬ì´. 4 <= ê°œë´‰ì›” <= 8

query = '''
SELECT * FROM MOVIES WHERE MONTH BETWEEN 4 AND 8
'''

spark.sql(query).show()

+---+--------+-------+----+-----+---+
| id|    name|company|year|month|day|
+---+--------+-------+----+-----+---+
|  1|ì–´ë²¤ì ¸ìŠ¤|   ë§ˆë¸”|2012|    4| 26|
|  2|  ìŠˆí¼ë§¨|     DC|2013|    6| 13|
|  3|  ë°°íŠ¸ë§¨|     DC|2008|    8|  6|
|  5|ì•„ì´ì–¸ë§¨|   ë§ˆë¸”|2008|    4| 30|
+---+--------+-------+----+-----+---+

In [29]:
# Join êµ¬í˜„í•˜ê¸°

attendances = [
    (1, 13934592., "KR"),
    (2, 2182227.,"KR"),
    (3, 4226242., "KR"),
    (4, 10303058., "KR"),
    (5, 4300365., "KR")
]

In [30]:
# ì§ì ‘ ìŠ¤í‚¤ë§ˆ ì§€ì •í•´ ë³´ê¸°
from pyspark.sql.types import StringType, FloatType\
    , IntegerType\
    , StructType, StructField

In [31]:
att_schema = StructType([ # ëª¨ë“  ì»¬ëŸ¼ì˜ íƒ€ì…ì„ í†µì¹­ - ì»¬ëŸ¼ ë°ì´í„°ì˜ ì§‘í•©
    StructField("id", IntegerType(), True), # StructField : ì»¬ëŸ¼
    StructField("att", FloatType(), True),
    StructField("theater_country", StringType(), True)
])

In [32]:
att_df = spark.createDataFrame(
    data=attendances,
    schema=att_schema
)

att_df.dtypes

[('id', 'int'), ('att', 'float'), ('theater_country', 'string')]

In [33]:
att_df.createOrReplaceTempView("att")

In [35]:
att_df.show()

+---+-----------+---------------+
| id|        att|theater_country|
+---+-----------+---------------+
|  1|1.3934592E7|             KR|
|  2|  2182227.0|             KR|
|  3|  4226242.0|             KR|
|  4|1.0303058E7|             KR|
|  5|  4300365.0|             KR|
+---+-----------+---------------+

In [38]:
# join

query = '''
SELECT MOVIES.ID, MOVIES.NAME, MOVIES.COMPANY, ATT.ATT
FROM MOVIES
JOIN ATT ON MOVIES.ID = ATT.ID

'''

spark.sql(query).show()

+---+--------+-------+-----------+
| ID|    NAME|COMPANY|        ATT|
+---+--------+-------+-----------+
|  1|ì–´ë²¤ì ¸ìŠ¤|   ë§ˆë¸”|1.3934592E7|
|  2|  ìŠˆí¼ë§¨|     DC|  2182227.0|
|  3|  ë°°íŠ¸ë§¨|     DC|  4226242.0|
|  4|ê²¨ìš¸ì™•êµ­| ë””ì¦ˆë‹ˆ|1.0303058E7|
|  5|ì•„ì´ì–¸ë§¨|   ë§ˆë¸”|  4300365.0|
+---+--------+-------+-----------+

In [39]:
spark.stop()

# SQLìµœì í™”

In [41]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("trip_count_sql").getOrCreate()

In [42]:
trip_file = "learning_spark_data/fhvhv_tripdata_2020-03.csv"

In [43]:
# inferSchema : ìë™ìœ¼ë¡œ ìŠ¤í‚¤ë§ˆ ì˜ˆì¸¡í•˜ê²Œ í•˜ê¸°
data = spark.read.csv(trip_file, inferSchema=True, header=True)

In [44]:
data.createOrReplaceTempView("mobility_data")

In [45]:
query = """
select *
from mobility_data
limit 5
"""
spark.sql(query).show()

+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|hvfhs_license_num|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|           HV0005|              B02510|2020-03-01 00:03:40|2020-03-01 00:23:39|          81|         159|   NULL|
|           HV0005|              B02510|2020-03-01 00:28:05|2020-03-01 00:38:57|         168|         119|   NULL|
|           HV0003|              B02764|2020-03-01 00:03:07|2020-03-01 00:15:04|         137|         209|      1|
|           HV0003|              B02764|2020-03-01 00:18:42|2020-03-01 00:38:42|         209|          80|   NULL|
|           HV0003|              B02764|2020-03-01 00:44:24|2020-03-01 00:58:44|         256|         226|   NULL|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+

## ìŠ¤íŒŒí¬ SQLì„ ì‚¬ìš©í•˜ëŠ” ì´ìœ

In [46]:
query = """

select split(pickup_datetime, ' ')[0] as pickup_date, count(*) as trips
from mobility_data

group by pickup_date
"""

spark.sql(query).show()

+-----------+------+
|pickup_date| trips|
+-----------+------+
| 2020-03-03|697880|
| 2020-03-02|648986|
| 2020-03-01|784246|
| 2020-03-06|872012|
| 2020-03-05|731165|
| 2020-03-04|707879|
| 2020-03-09|628940|
| 2020-03-08|731222|
| 2020-03-07|886071|
| 2020-03-10|626474|
| 2020-03-12|643257|
| 2020-03-11|628601|
| 2020-03-16|391518|
| 2020-03-13|660914|
| 2020-03-15|448125|
| 2020-03-14|569397|
| 2020-03-26|141607|
| 2020-03-25|141088|
| 2020-03-20|261900|
| 2020-03-24|141686|
+-----------+------+
only showing top 20 rows

In [47]:
# ì‹¤í–‰ ê³„íš ì‚´í´ë³´ê¸°
spark.sql(query).explain(True)

== Parsed Logical Plan ==
'Aggregate ['pickup_date], ['split('pickup_datetime,  )[0] AS pickup_date#382, 'count(1) AS trips#383]
+- 'UnresolvedRelation [mobility_data], [], false

== Analyzed Logical Plan ==
pickup_date: string, trips: bigint
Aggregate [split(cast(pickup_datetime#309 as string),  , -1)[0]], [split(cast(pickup_datetime#309 as string),  , -1)[0] AS pickup_date#382, count(1) AS trips#383L]
+- SubqueryAlias mobility_data
   +- View (`mobility_data`, [hvfhs_license_num#307,dispatching_base_num#308,pickup_datetime#309,dropoff_datetime#310,PULocationID#311,DOLocationID#312,SR_Flag#313])
      +- Relation [hvfhs_license_num#307,dispatching_base_num#308,pickup_datetime#309,dropoff_datetime#310,PULocationID#311,DOLocationID#312,SR_Flag#313] csv

== Optimized Logical Plan ==
Aggregate [_groupingexpression#387], [_groupingexpression#387 AS pickup_date#382, count(1) AS trips#383L]
+- Project [split(cast(pickup_datetime#309 as string),  , -1)[0] AS _groupingexpression#387]
   +- Relation [hvfhs_license_num#307,dispatching_base_num#308,pickup_datetime#309,dropoff_datetime#310,PULocationID#311,DOLocationID#312,SR_Flag#313] csv

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- HashAggregate(keys=[_groupingexpression#387], functions=[count(1)], output=[pickup_date#382, trips#383L])
   +- Exchange hashpartitioning(_groupingexpression#387, 200), ENSURE_REQUIREMENTS, [plan_id=428]
      +- HashAggregate(keys=[_groupingexpression#387], functions=[partial_count(1)], output=[_groupingexpression#387, count#389L])
         +- Project [split(cast(pickup_datetime#309 as string),  , -1)[0] AS _groupingexpression#387]
            +- FileScan csv [pickup_datetime#309] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/home/jovyan/work/learning_spark_data/fhvhv_tripdata_2020-03.csv], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<pickup_datetime:timestamp>

**Optimized Logical Plan**

Spark Catalystê°€ ìµœì í™”í•œ ë¡œì§.

ì¤‘ê°„ ì»¬ëŸ¼ëª…ì„ _groupingexpression#387 ì´ëŸ° ë‚´ë¶€ í‘œí˜„ìœ¼ë¡œ ì¹˜í™˜í•´ì„œ ì¤‘ë³µ ì œê±°

, í•„ìš” ì—†ëŠ” ì»¬ëŸ¼ ì œê±° ë“±ì˜ ìµœì í™”ë¥¼ ìˆ˜í–‰.

In [48]:
# ë‘ë²ˆì§¸ ì¿¼ë¦¬
spark.sql("""select 
                pickup_date, 
                count(*) as trips
             from ( select
                          split(pickup_datetime, ' ')[0] as pickup_date
                          from mobility_data )
             group by pickup_date""").explain(True)

== Parsed Logical Plan ==
'Aggregate ['pickup_date], ['pickup_date, 'count(1) AS trips#391]
+- 'SubqueryAlias __auto_generated_subquery_name
   +- 'Project ['split('pickup_datetime,  )[0] AS pickup_date#390]
      +- 'UnresolvedRelation [mobility_data], [], false

== Analyzed Logical Plan ==
pickup_date: string, trips: bigint
Aggregate [pickup_date#390], [pickup_date#390, count(1) AS trips#391L]
+- SubqueryAlias __auto_generated_subquery_name
   +- Project [split(cast(pickup_datetime#309 as string),  , -1)[0] AS pickup_date#390]
      +- SubqueryAlias mobility_data
         +- View (`mobility_data`, [hvfhs_license_num#307,dispatching_base_num#308,pickup_datetime#309,dropoff_datetime#310,PULocationID#311,DOLocationID#312,SR_Flag#313])
            +- Relation [hvfhs_license_num#307,dispatching_base_num#308,pickup_datetime#309,dropoff_datetime#310,PULocationID#311,DOLocationID#312,SR_Flag#313] csv

== Optimized Logical Plan ==
Aggregate [pickup_date#390], [pickup_date#390, count(1) AS trips#391L]
+- Project [split(cast(pickup_datetime#309 as string),  , -1)[0] AS pickup_date#390]
   +- Relation [hvfhs_license_num#307,dispatching_base_num#308,pickup_datetime#309,dropoff_datetime#310,PULocationID#311,DOLocationID#312,SR_Flag#313] csv

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- HashAggregate(keys=[pickup_date#390], functions=[count(1)], output=[pickup_date#390, trips#391L])
   +- Exchange hashpartitioning(pickup_date#390, 200), ENSURE_REQUIREMENTS, [plan_id=443]
      +- HashAggregate(keys=[pickup_date#390], functions=[partial_count(1)], output=[pickup_date#390, count#396L])
         +- Project [split(cast(pickup_datetime#309 as string),  , -1)[0] AS pickup_date#390]
            +- FileScan csv [pickup_datetime#309] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/home/jovyan/work/learning_spark_data/fhvhv_tripdata_2020-03.csv], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<pickup_datetime:timestamp>

| ë‹¨ê³„                     | ì„¤ëª…                              |
| ---------------------- | ------------------------------- |
| Parsed Logical Plan    | êµ¬ë¬¸ í•´ì„ë§Œ í•œ ë‹¨ê³„                     |
| Analyzed Logical Plan  | ì»¬ëŸ¼ ì¡´ì¬ í™•ì¸, ë°ì´í„° íƒ€ì… ë¶„ì„             |
| Optimized Logical Plan | í•„ìš” ì—†ëŠ” ì»¬ëŸ¼ ì œê±°, ë‚´ë¶€ ì—°ì‚° ë‹¨ìˆœí™”          |
| Physical Plan          | ì‹¤ì œ ì‹¤í–‰ ë°©ì‹ ê²°ì • (íŒŒì¼ ì½ê¸°, íŒŒí‹°ì…”ë‹, ì§‘ê³„ ë“±) |

**ğŸ” ë‘ ì¿¼ë¦¬ì˜ ê³µí†µ ëª©ì **
    
ë‘˜ ë‹¤ ëª©ì ì€ pickup_datetimeì—ì„œ ë‚ ì§œ(pickup_date)ë¥¼ ì¶”ì¶œí•œ ë’¤, 
    
í•´ë‹¹ ë‚ ì§œë³„ë¡œ  **íŠ¸ë¦½ ìˆ˜(trips)** ë¥¼ ì§‘ê³„í•˜ëŠ” ê²ƒì…ë‹ˆë‹¤.

| í•­ëª©                                     | ì²« ë²ˆì§¸ ì¿¼ë¦¬                                                  | ë‘ ë²ˆì§¸ ì¿¼ë¦¬                                               |
| -------------------------------------- | -------------------------------------------------------- | ----------------------------------------------------- |
| ë‚ ì§œ ì¶”ì¶œ ìœ„ì¹˜                               | `'split(pickup_datetime, " ")[0]`ë¥¼ `Aggregate` ì•ˆì—ì„œ ì§ì ‘ ì‚¬ìš© | ë¨¼ì € `Project`ë¡œ `pickup_date` ì»¬ëŸ¼ ìƒì„±í•œ í›„ `Aggregate`ì—ì„œ ì‚¬ìš© |
| **Alias ì´ë¦„**                           | `pickup_date#382` (split ë°”ë¡œ ì‚¬ìš©)                          | `pickup_date#390` (í”„ë¡œì ì…˜ì—ì„œ ë§Œë“  ì»¬ëŸ¼)                      |
| **Parsed Logical Plan**                | ë‚ ì§œ íŒŒì‹± ì—°ì‚°ì´ `Aggregate` ì•ˆì— ìˆìŒ                              | ë‚ ì§œ íŒŒì‹±ì€ `Project`, ì§‘ê³„ëŠ” ê·¸ ìœ„ì—ì„œ                           |
| **SubqueryAlias ì´ë¦„**                   | `mobility_data` ì§ì ‘ ì‚¬ìš©                                    | `__auto_generated_subquery_name` (ì„œë¸Œì¿¼ë¦¬ ê°ìŒˆ)            |
| **ì¿¼ë¦¬ ì¬ì‚¬ìš©ì„±**                            | ì§ì ‘ í‘œí˜„ â†’ ë‹¤ì†Œ ë¹„íš¨ìœ¨                                           | ì»¬ëŸ¼ ë¶„ë¦¬ â†’ ì¬ì‚¬ìš©ì„±ê³¼ ìµœì í™” ìš©ì´                                  |
| **ì‹¤ì œ ì²˜ë¦¬ êµ¬ì¡° (Optimized/Physical Plan)** | ë‚ ì§œ ì¶”ì¶œ â†’ ê·¸ë£¹í™” â†’ ì§‘ê³„                                         | ë‚ ì§œ ì¶”ì¶œ â†’ ê·¸ë£¹í™” â†’ ì§‘ê³„ (ê±°ì˜ ë™ì¼)                              |

**ìµœì í™” ì¸¡ë©´ ë¹„êµ**
| ì¸¡ë©´        | ì²« ë²ˆì§¸ ì¿¼ë¦¬     | ë‘ ë²ˆì§¸ ì¿¼ë¦¬                   |
| --------- | ----------- | ------------------------- |
| ì¤‘ë³µ ì—°ì‚° ì œê±°  | âŒ split ë°˜ë³µë¨ | âœ… í•œë²ˆë§Œ ê³„ì‚°                  |
| ìµœì í™” í”Œëœ êµ¬ì¡° | ë‹¤ì†Œ ì¤‘ì²©ë¨      | Project â†’ Aggregate ëª…í™• ë¶„ë¦¬ |
| ì¬ì‚¬ìš©ì„±      | ë–¨ì–´ì§         | ë†’ìŒ                        |
| ê°€ë…ì„±       | ë‚®ìŒ          | ë†’ìŒ                        |

In [51]:
spark.stop()

# EDA

In [52]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("data_eda").getOrCreate()

In [54]:
trip_file = "learning_spark_data/fhvhv_tripdata_2020-03.csv"
trip_data = spark.read.csv(trip_file, inferSchema=True, header=True)

In [57]:
zone_file = "learning_spark_data/taxi+_zone_lookup.csv"
zone_data = spark.read.csv(zone_file, inferSchema=True, header=True)

In [58]:
trip_data.createOrReplaceTempView("trip_data")
zone_data.createOrReplaceTempView("zone_data")

In [59]:
trip_data.printSchema()

root
 |-- hvfhs_license_num: string (nullable = true)
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- SR_Flag: integer (nullable = true)

In [60]:
zone_data.printSchema()

root
 |-- LocationID: integer (nullable = true)
 |-- Borough: string (nullable = true)
 |-- Zone: string (nullable = true)
 |-- service_zone: string (nullable = true)

## ìŠ¹ì°¨ Location(PULocationID)ë³„ ê°œìˆ˜ ì„¸ê¸°

In [61]:
query = '''
SELECT * FROM TRIP_DATA
'''

spark.sql(query).show()

+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|hvfhs_license_num|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|           HV0005|              B02510|2020-03-01 00:03:40|2020-03-01 00:23:39|          81|         159|   NULL|
|           HV0005|              B02510|2020-03-01 00:28:05|2020-03-01 00:38:57|         168|         119|   NULL|
|           HV0003|              B02764|2020-03-01 00:03:07|2020-03-01 00:15:04|         137|         209|      1|
|           HV0003|              B02764|2020-03-01 00:18:42|2020-03-01 00:38:42|         209|          80|   NULL|
|           HV0003|              B02764|2020-03-01 00:44:24|2020-03-01 00:58:44|         256|         226|   NULL|
|           HV0003|              B02682|2020-03-01 00:17:23|2020-03-01 00:39:35|          79|         263|   NULL|
|           HV0003|              B02764|2020-03-01 00:01:18|2020-03-01 00:38:52|          61|          29|   NULL|
|           HV0003|              B02764|2020-03-01 00:43:27|2020-03-01 00:47:27|         150|         150|      1|
|           HV0003|              B02764|2020-03-01 00:52:23|2020-03-01 01:00:15|         150|         210|   NULL|
|           HV0003|              B02764|2020-03-01 00:19:49|2020-03-01 00:23:40|          60|         167|   NULL|
|           HV0003|              B02764|2020-03-01 00:29:34|2020-03-01 00:39:19|          47|         213|   NULL|
|           HV0003|              B02764|2020-03-01 00:41:44|2020-03-01 00:58:13|         213|         235|   NULL|
|           HV0003|              B02765|2020-03-01 00:11:26|2020-03-01 00:24:46|         243|         153|   NULL|
|           HV0003|              B02765|2020-03-01 00:28:05|2020-03-01 00:38:56|         127|          18|   NULL|
|           HV0003|              B02765|2020-03-01 00:44:28|2020-03-01 00:52:09|          18|         169|   NULL|
|           HV0003|              B02765|2020-03-01 00:56:50|2020-03-01 00:59:26|          94|         169|   NULL|
|           HV0003|              B02764|2020-03-01 00:56:14|2020-03-01 01:03:38|         211|         158|   NULL|
|           HV0003|              B02764|2020-03-01 00:14:15|2020-03-01 00:26:47|         246|         107|   NULL|
|           HV0003|              B02764|2020-03-01 00:31:38|2020-03-01 00:58:07|         234|           9|   NULL|
|           HV0005|              B02510|2020-03-01 00:26:31|2020-03-01 00:38:07|         139|          10|      1|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
only showing top 20 rows

In [63]:
query = '''
SELECT PULocationID, COUNT(*) AS count
FROM trip_data
GROUP BY PULocationID
'''
spark.sql(query).show()

+------------+------+
|PULocationID| count|
+------------+------+
|         148|116205|
|         243| 87431|
|          31|  5285|
|         137| 85552|
|          85| 46120|
|         251|  9080|
|          65| 66622|
|         255|113947|
|          53| 17571|
|         133| 27200|
|          78| 76155|
|         108| 20378|
|         155| 39527|
|         211| 61075|
|         193| 20111|
|          34| 11823|
|         115| 10806|
|         126| 52833|
|         101|  8983|
|          81| 41425|
+------------+------+
only showing top 20 rows

## í•˜ì°¨ Location(DOLocationID)ë³„ ê°œìˆ˜ ì„¸ê¸°

In [64]:
query = '''
SELECT DOLocationID, COUNT(*) AS count
FROM trip_data
GROUP BY DOLocationID
'''
spark.sql(query).show()

+------------+------+
|DOLocationID| count|
+------------+------+
|         148| 91601|
|         243| 86795|
|          31|  5526|
|          85| 44509|
|         137| 80098|
|         251|  8525|
|          65| 58888|
|         255|105051|
|          53| 19013|
|         133| 27760|
|          78| 74447|
|         155| 42239|
|         108| 21354|
|         211| 54176|
|         193| 19104|
|          34| 12392|
|         115|  9809|
|         101|  7218|
|         126| 59027|
|          81| 38445|
+------------+------+
only showing top 20 rows

## HV0003 ìš´ì†¡ì‚¬ì—…ìì˜ ìŠ¹ì°¨ ì§€ì—­ë³„ íŠ¸ë¦½ ê±´ìˆ˜ë¥¼ ì§‘ê³„í•˜ê³ , 

## ê°€ì¥ ë§ì€ ìš´ì†¡ì‚¬ì—…ììˆœìœ¼ë¡œ ì •ë ¬í•˜ëŠ” ë¶„ì„ ì¿¼ë¦¬  hvfhs_license_num

In [66]:
query = '''
SELECT hvfhs_license_num, PULocationID, COUNT(*) AS count
FROM trip_data
WHERE hvfhs_license_num = 'HV0003'
GROUP BY hvfhs_license_num, PULocationID
ORDER BY count desc
'''
spark.sql(query).show()

+-----------------+------------+------+
|hvfhs_license_num|PULocationID| count|
+-----------------+------------+------+
|           HV0003|          61|163091|
|           HV0003|          76|134198|
|           HV0003|         132|114179|
|           HV0003|          79|112017|
|           HV0003|          37|110150|
|           HV0003|          42|108070|
|           HV0003|         138|104119|
|           HV0003|         244| 97324|
|           HV0003|          89| 95724|
|           HV0003|          39| 94484|
|           HV0003|         231| 94155|
|           HV0003|           7| 92676|
|           HV0003|          17| 90352|
|           HV0003|         161| 90261|
|           HV0003|         225| 88749|
|           HV0003|         234| 88372|
|           HV0003|         230| 86870|
|           HV0003|         188| 84347|
|           HV0003|          35| 82764|
|           HV0003|         168| 82396|
+-----------------+------------+------+
only showing top 20 rows

## ìš´ì†¡ì‚¬ë³„ ìš´í–‰ ê±´ìˆ˜ ë¹„êµ

In [70]:
query = '''
SELECT hvfhs_license_num, COUNT(*) AS COUNT
FROM TRIP_DATA
GROUP BY hvfhs_license_num
'''
spark.sql(query).show()

+-----------------+-------+
|hvfhs_license_num|  COUNT|
+-----------------+-------+
|           HV0004| 336606|
|           HV0005|3219535|
|           HV0003|9836763|
+-----------------+-------+

## ìŠ¹ì°¨ ìœ„ì¹˜ Boroughë³„ ìš´í–‰ ê±´ìˆ˜

In [69]:
zone_data.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [72]:
query = '''
SELECT Borough, COUNT(*) AS COUNT
FROM ZONE_DATA
GROUP BY Borough
'''
spark.sql(query).show()

+-------------+-----+
|      Borough|COUNT|
+-------------+-----+
|       Queens|   69|
|          EWR|    1|
|      Unknown|    2|
|     Brooklyn|   61|
|Staten Island|   20|
|    Manhattan|   69|
|        Bronx|   43|
+-------------+-----+

## ì„œë¹„ìŠ¤ ì¡´ë³„ ìŠ¹ì°¨/í•˜ì°¨ ê±´ìˆ˜

In [79]:
# JOIN. ìŠ¹ì°¨
joined_df = trip_data.join(zone_data, trip_data['PULocationID'] == zone_data['LocationID'])
joined_df.select('PULocationID','service_zone').groupby('service_zone').count().show()

+------------+-------+
|service_zone|  count|
+------------+-------+
|         EWR|    362|
|         N/A|    845|
| Yellow Zone|4025190|
|    Airports| 319610|
|   Boro Zone|9046897|
+------------+-------+

In [80]:
# JOIN. í•˜ì°¨
joined_df = trip_data.join(zone_data, trip_data['DOLocationID'] == zone_data['LocationID'])
joined_df.select('DOLocationID','service_zone').groupby('service_zone').count().show()

+------------+-------+
|service_zone|  count|
+------------+-------+
|         EWR|  65066|
|         N/A| 387759|
| Yellow Zone|3643787|
|    Airports| 411156|
|   Boro Zone|8885136|
+------------+-------+